<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       
        <!-- 配置springMVC -->
        <!-- 1:开启springMVC注解模式 -->
        <!-- 简化配置，提供数据绑定，json默认读写支持 -->
        <mvc:annotation-driven/>
        <!-- servlet-mapping映射路径:"/" -->
        <!-- 2:静态资源默认servlet配置 
        1:加入对静态资源的处理
        2:允许使用"/"做整体映射
        -->
        <mvc:default-servlet-handler/>
        
        <!-- 添加shiro注解环境配置 -->
		<aop:config proxy-target-class="true" />
		<bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"></property>
	</bean>
	
        <!-- 3:配置jsp显示ViewResolver -->
         <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 			<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		 	<property name="prefix" value="/WEB-INF/jsps/" />
 			<property name="suffix" value=".jsp" />
 		</bean>
        <!-- 扫描web相关的包 -->
        <context:component-scan base-package="com.yu.controller"></context:component-scan>
        </beans>